*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:#222831;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(221, 221, 221);
}

header{
    background-color: rgb(17, 23, 32);
    color:rgb(250, 198, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 50px;
}

.info h3
{
    text-align: center;
    font-size: 40px;
}

.score
{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
}

.score p
{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.plays{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -10px;
}

.choiceImg, .play img
{
    width:200px;
}

.play, .choiceImg
{
    background: rgb(250, 198, 80);
    border-radius: 20px;
}

.play
{
    margin-top: 20px;
}

.plays .play:hover
{
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: white
}

ul
{
    list-style: none;
}

li
{
    margin-top:10px;
}

.credits h3
{
    color: rgb(250, 198, 80);
}

footer
{
    background-color: rgb(17, 23, 32);
    padding: 30px 0 10px 10px;
    margin-top: 40px;
}

footer h4
{
    margin-top: 20px;
    text-align: center;
}

/*-----------------Restart Pop up-------------------------*/
.popUp-screen
{
    background-color: rgba(255, 255, 255, .4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.popUp-box
{
    background-color: rgb(17, 23, 32);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    padding-top: 60px;
    text-align: center;
}

.popUp-box h1
{
    font-size: 45px;
}

.popUp-box button
{
    font-size: 20px;
    background: rgb(250, 198, 80);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    color:rgb(17, 23, 32);
    margin-top: 80px;
}

.hidden 
{
    display:none;
}